*{
    font-family: 'Montserrat', sans-serif;;
}

ion-input {
    border: solid !important;
    border-color: rgb(53, 51, 51) !important;
    color: rgb(7, 7, 7);
    font-size: 1em;
    font-weight: 900;
}
ion-button{
    border-radius: 5%;
    background-color: rgb(2, 2, 2);
    color: rgb(255, 255, 255);

}
.item-lines-none ion-item {
    --border-style: none;
}